
body{
 background-color:Black;
 color:White;
 font-family:sans-serif;
 margin:auto;
 text-align:center;
}
h1
{
Colour:Powderblue;
font-family:serif;
text-align:center;
text-decoration:underline;
}
h3
{
 font-family:sans-serif;
 margin:auto;
 text-align:justified;
}
h2
{
Color:Red;
text-decoration:underline;
}
