
body{
 background-color:Red;
 color:White;
 font-family:sans-serif;
 margin:auto;
 text-alignment:justified;
}
h1
{
Colour:Powderblue;
font-family:serif;
text-alignment:center;
text-decoration:underline;
}


