body
{
  background-image: url('../https://github.com/harisreepn/harisreepn3/blob/master/images%20(37).jpeg');
  background-repeat: no-repeat;
  
  

margin:double;
}
h1{
text-align:center
}
h2
{
text-align:center;
color:Darkgreen;
font-family:monospace;
}
h3
{
text-align:justify;
}

#mytext {
 transform:rotate(90deg);
 webkit-transform:rotate(90deg);
}
#grad {
  background-image: linear-gradient(#673AB7,#9575CD);
}
