body
{
background-color:Lightblue;


}
h1{
text-align:center
}
h2
{
text-align:center;
color:Darkgreen;
font-family:monospace;
}
h3
{
text-align:justify;
}

#mytext {
 transform:rotate(90deg);
 webkit-transform:rotate(90deg);
}
