body
{
margin:double;
}
h1{
text-align:center
}
h2
{
text-align:center;
color:Darkgreen;
font-family:monospace;
}
h3
{
text-align:justify;
}

#mytext {
 transform:rotate(90deg);
 webkit-transform:rotate(90deg);
}
#grad {
  background-image: linear-gradient(#673AB7,#9575CD);
}
.bg-image {
background-image: url;
background-color: #cccccc;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
